// {
//   "presets": ["next/babel"],
//   "plugins": [
//     [
//       "import", {
//         "libraryName": "antd",
//         "style": true
//       }
//     ]
//   ]
// }

{
  "presets": ["next/babel"],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ]
  ]
}