@media (max-width: 576px){
    .insta-follow {
        font-size: 1.5rem;
        font-weight: 900;
        display: flex;
        justify-content: flex-end;
    }
    .add {
        margin-bottom: 2rem;
        display: flex;
        justify-content: flex-end;
    }
    .gallery-section {
        margin-top: 3rem;
    }
}
@media (min-width: 577px){
.add {
    margin: 0.5rem 0 4rem 0;
    font-size: 1.2rem;

}
.insta-follow {
    font-weight: 900;
    font-size: 2rem;
    color: black;
}
.gallery-section {
    margin-top:8rem;
  }

}
.square-container {
    display: flex;
    flex-wrap: wrap;
  }

  .square {
    position: relative;
    flex-basis: calc(20% - 0px);
    overflow: hidden;
  }

  .square::before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  .square .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display:flex;
  }
  .square .content img {
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
  }
 
  .ant-col.ant-col-20.ant-col-xs-20.ant-col-xl-20 > .add > a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color:rgb(126, 118, 79);
  }

  .square .content a {
    width: 100%;
    display: inline-block;
    position: relative;
  }
  
  .square a:after {
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    content:url(https://travari.s3-us-west-2.amazonaws.com/images/insta30x30-04.png);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: opacity .5s;
  }
  
  .square .content a:hover:after {
    opacity: 1;
  }
  
  .square .content img {
    max-width: 100%;
    vertical-align: top;
  }